@import "tailwindcss";

@keyframes slide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide {
  animation: slide 1s ease-out;
}